sudo: false
language: node_js
cache:
  directories:
    - node_modules
node_js:
  - '6'
before_script:
  - npm prune
script:
  - npm run checkall
after_success:
  - npm run semantic-release
branches:
  except:
    - /^v\d+\.\d+\.\d+$/
